<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h1>Editing Book</h1>
<!----------------------バリデーションエラー表示---------------------->
<% if @book.errors.any? %>
  <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
<!-------------------------------------------------------------------->
      <%= form_with model:@book, method: :patch do |f| %>
        <p>Title</p>
        <%= f.text_field:title, class:"form-control" %><br>
        <p>Opinion</p>
        <%= f.text_area:body, class:"form-control" %>
        <br>
        <%= f.submit 'Update Book',class: "btn btn-success" %><br><br>
      <% end %>
      <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %>
    </div>
  </div>
</div>